{% extends 'ezbook_admin/base.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}
{% load json_str %}
<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Users</h1>

    {% if form.errors %}
    <script type="text/javascript">
        $(() => {
            $('#addModal').modal('show');
        });
    </script>
    {% endif %}
    {% if successRemarks %}
    <div class="alert alert-success" role="alert">
        {{successRemarks}}
    </div>
    {% endif %}

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">
                Users Table
            </h6>
            <p data-placement="top" data-toggle="tooltip" title="Add">
                <a href="" class="btn btn-success btn-xs" data-title="Add" data-toggle="modal" data-target="#addModal">
                    <span class="fas fa-plus"></span>
                </a>
            </p>
        </div>
        <div id="result" class="alert" role="alert" display="hidden"></div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="bootstrapdatatable" class="table table-bordered" width="100%">
                    <thead>
                        <th>User Pic</th>
                        <th>Username</th>
                        <th>Firstname</th>
                        <th>Middlename</th>
                        <th>Lastname</th>
                        <th>Age</th>
                        <th>Phone number</th>
                        <th>Email</th>
                        <th>Date Created</th>
                        <th>Actions</th>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr>
                            <td><img src=" {{ user.user_pic }}" alt="{{ user.user_pic }}" /></td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.firstname }}</td>
                            <td>{{ user.middlename }}</td>
                            <td>{{ user.lastname }}</td>
                            <td>{{ user.age }}</td>
                            <td>{{ user.phone_number }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.date_created }}</td>
                            <td class="d-flex" style="gap: 5px">
                                <p data-placement="top" data-toggle="tooltip" title="Edit">
                                    <a class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal"
                                        data-target="#editModal" onclick="onEditClick(this)"
                                        data-user='{{user|json_str}}'>
                                        <span class="fas fa-pen"></span>
                                    </a>
                                </p>
                                <p data-placement="top" data-toggle="tooltip" title="Delete">
                                    <a class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal"
                                        data-target="#deleteModal" onclick='onDeleteClick(this)'
                                        data-user='{{user|json_str}}'>
                                        <span class="fas fa-trash-alt"></span>
                                    </a>
                                </p>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Add User</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form id="addSubmit" class="needs-validation" action="{% url 'ezbook_admin:users' %}" method="post"
                enctype="multipart/form-data" novalidate>
                {% csrf_token%}
                <!-- {{form|crispy}} -->
                <div class="modal-body">
                    <div class="row g-3">
                        <div class="col-md-4">
                            <!-- <label for="validationCustom00" class="form-label">First name</label>
                            <input type="text" class="form-control" id="validationCustom00"
                                name="{{form.firstname.name}}" required>
                            <div class="invalid-feedback">
                                Please provide a first name.
                            </div> -->
                            {{form.firstname|as_crispy_field}}
                        </div>
                        <div class="col-md-4">
                            <!-- <label for="validationCustom01" class="form-label">Middle name</label>
                            <input type="text" class="form-control" id="validationCustom01" required>
                            <div class="invalid-feedback">
                                Please provide a middle name.
                            </div> -->
                            {{form.middlename|as_crispy_field}}
                        </div>
                        <div class="col-md-4">
                            <!-- <label for="validationCustom02" class="form-label">Last name</label>
                            <input type="text" class="form-control" id="validationCustom02" required>
                            <div class="invalid-feedback">
                                Please provide a last name.
                            </div> -->
                            {{form.lastname|as_crispy_field}}
                        </div>
                        <div class="col-md-4">
                            <!-- <label for="validationCustomUsername" class="form-label">Username</label>
                            <div class="input-group has-validation">
                                <span class="input-group-text" id="inputGroupPrepend">@</span>
                                <input type="text" class="form-control" id="validationCustomUsername"
                                    aria-describedby="inputGroupPrepend" required>
                                <div class="invalid-feedback">
                                    Please choose a username.
                                </div>
                            </div> -->
                            {{form.username|as_crispy_field}}
                        </div>
                        <div class="col-md-3">
                            <!-- <label for="validationCustom03" class="form-label">Age</label>
                            <input type="number" min="0" class="form-control" id="validationCustom03" required>
                            <div class="invalid-feedback">
                                Please provide a valid age.
                            </div> -->
                            {{form.age|as_crispy_field}}
                        </div>
                        <div class="col-md-5">
                            <!-- <label for="validationCustom04" class="form-label">Phone number</label>
                            <input type="text" class="form-control" id="validationCustom04" required>
                            <div class="invalid-feedback">
                                Please provide a phone number.
                            </div> -->
                            {{form.phone_number|as_crispy_field}}
                        </div>
                        <div class="col-md-7">
                            <!-- <label for="validationCustom05" class="form-label">Email</label>
                            <input type="email" class="form-control" id="validationCustom05" required>
                            <div class="invalid-feedback">
                                Please provide a valid email.
                            </div> -->
                            {{form.email|as_crispy_field}}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="submit" name="method" value="insert">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit User</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form id="editSubmit" class="needs-validation" action="{% url 'ezbook_admin:users' %}" method="post"
                enctype="multipart/form-data" novalidate>
                {% csrf_token%}
                <div class="modal-body">
                    <div class="row g-3">
                        <input type="hidden" id="pk" name="pk" />
                        <div class="col-md-4">
                            {{form.firstname|as_crispy_field}}
                        </div>
                        <div class="col-md-4">
                            {{form.middlename|as_crispy_field}}
                        </div>
                        <div class="col-md-4">
                            {{form.lastname|as_crispy_field}}
                        </div>
                        <div class="col-md-4">
                            {{form.username|as_crispy_field}}
                        </div>
                        <div class="col-md-3">
                            {{form.age|as_crispy_field}}
                        </div>
                        <div class="col-md-5">
                            {{form.phone_number|as_crispy_field}}
                        </div>
                        <div class="col-md-7">
                            {{form.email|as_crispy_field}}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="submit" name="method" value="update">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
    aria-hidden="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete User</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form id="deleteSubmit" action="{% url 'ezbook_admin:users' %}" method="post" enctype="multipart/form-data"
                novalidate>
                {% csrf_token%}
                <input type="hidden" id="pk" name="pk" />
                <div class="modal-body" id="body">
                    Are you sure you want to delete this user?
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="submit" name="method" value="delete">Confirm</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    function onEditClick(element) {
        const user = JSON.parse($(element).attr('data-user'))[0]
        if (!user) return;
        $('#editModal #pk').val(user.pk);
        $('#editModal #id_firstname').val(user.fields.firstname);
        $('#editModal #id_middlename').val(user.fields.middlename);
        $('#editModal #id_lastname').val(user.fields.lastname);
        $('#editModal #id_username').val(user.fields.username);
        $('#editModal #id_age').val(user.fields.age);
        $('#editModal #id_phone_number').val(user.fields.phone_number);
        $('#editModal #id_email').val(user.fields.email);
    }
    function onDeleteClick(element) {
        const user = JSON.parse($(element).attr('data-user'))[0]
        if (!user) return;
        $('#deleteModal #pk').val(user.pk);
        $('#deleteModal #body').html(`Are you sure you want to delete ${user.fields.username}?`);
    }
    $(() => {
        $('#bootstrapdatatable').DataTable({
            "aLengthMenu": [[3, 5, 10, 25, -1], [3, 5, 10, 25, "All"]],
            "iDisplayLength": 3,
            dom: 'Blfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        }
        );
    });
</script>
{% endblock %}