<section>
  <div class="container">
    <div class="row justify-content-lg-between circle-blend-right circle-danger">
      <hr class="text-200 mb-0" />
      <div class="row justify-content-md-center justify-content-evenly py-3">
        <div class="col-12 col-sm-8 col-md-6 col-lg-auto text-center text-md-start">
          <p class="fs-0 my-2 text-400">
            All rights Reserved 2021
            <span class="fw-bold text-500">
              &copy; Gary Lloyd Senoc | Adrian Vincent Aguilar CSIT327 F1-C1 AY 2021 - 2022
            </span>
          </p>
        </div>
        <div class="text-center">
          <a class="fs-0 my-2 text-400" href="{% url 'ezbook_admin:index' %}">
            EZBook Admin
          </a>
        </div>
      </div>
    </div>
    <!-- end of .container-->
</section>